    body {
        margin: 50px;
        position: relative;
        /* width: 100%; */
        /* height: auto; */
        min-height: 35rem;
        padding: 15rem 0;
        background: url(6.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover
    }
    /* .container-fluid {
        display: flex;
        background-color: yellow;
    } */
    
    .button-box {
        width: 20%;
        position: fixed;
        left: 0;
    }
    
    .add-container {
        text-align: center;
        margin-top: -250px;
        width: 80%;
        position: fixed;
        right: 0;
        display: inline-grid;
    }
    
    .list-container {
        text-align: center;
        width: 80%;
        position: fixed;
        right: 0;
        display: inline-grid;
        margin-top: -276px;
    }
    
    .find-container {
        text-align: center;
        margin-top: -250px;
        width: 80%;
        position: fixed;
        right: 0;
        display: inline-grid;
    }
    
    .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        /* z-index: 2; */
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }